output/2025-02-26_23-25-39.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-created",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "field": "json.start_date",
              "operation": "notExists"
            }
          ]
        }
      },
      "name": "Check Start Date",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const startDate = '2023-01-01'; // example arbitrary start date\nreturn { query: `start_date=${startDate}` };"
      },
      "name": "Format API Query",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.jobtread.com/job",
        "method": "GET",
        "queryParameters": {
          "start_date": "={{$json[\"query\"]}}"
        }
      },
      "name": "Send API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Start Date",
            "type": "default",
            "index": 0
          }
        ]
      ]
    },
    "Check Start Date": {
      "main": [
        [
          {
            "node": "Format API Query",
            "type": "default",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format API Query": {
      "main": [
        [
          {
            "node": "Send API Request",
            "type": "default",
            "index": 0
          }
        ]
      ]
    }
  }
}